[package]
name = "wycheproof"
version = "0.5.0"
edition = "2021"
authors = ["Jack Lloyd <jack@randombit.net>"]
license = "Apache-2.0"
description = "Wycheproof test vectors"
repository = "https://github.com/randombit/wycheproof-rs"
documentation = "https://docs.rs/wycheproof"
categories = [ "cryptography" ]
rust-version = "1.57"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
hex = "0.4"
base64 = "0.13"
